# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyd

# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Environment / Secrets
# ==============================
.env
.env.*
!.env.example

# ==============================
# Raw Dataset
# ==============================
data/raw/*
!data/raw/.gitkeep

# ==============================
# Generated Processed Data
# ==============================
data/processed/*
!data/processed/.gitkeep

# ==============================
# React / Node
# ==============================
frontend/node_modules/
frontend/dist/
frontend/.vite/

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Python Build
# ==============================
build/
dist/
*.egg-info/

# ==============================
# Logs
# ==============================
*.log